:root{
    /** Font-size **/
    --font-h1: 3.125rem;
    --font-h2: ;
    --font-h3: 1.25rem;
    /** Font-color **/
    --font-c1: #5f6caf;
    --font-c3: #2e383f;
    /** Background color **/
    --color-body: #edf7fa;
    --color-header: #f1dc7c;
    --color: #ff8364;
}
@media only screen and (max-width: 767px) {
    *{
        margin: 0px;
        padding: 0px;
    }
    .sm-body{
        background-color: var(--color-body);
    }
    .sm-h1{
        font-size: var(--font-h1);
        color: var(--font-c1);
    }
    .sm-h3{
        font-size: var(--font-h3);
        color: var(--font-c3);
    }
    .sm-header{
        width: 50px;
        height: 100%;
        background-color: var(--color-header);
    }
    .iconmed{
        width: 30px;
        height: 30px;
    }
    h1{
        width: 100%;
        margin-bottom: 20px;
        color: #10316b;
    }
    h2{
        margin-bottom: 10px;
        color: #035537
    }
    h3{
        width: 90%;
    }
    h4{
        width: 100%;
        color: #b14646;
    }

    p{
        width: 100%;
    }
    progress{
        width: 95%;
    }
    /** Class 
        Home**/
    .container-main{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        text-align: center;
        overflow: hidden;
    }
    .introduce{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    /** Elements-NAV**/
    .home, .cv, .portfolio,.linkedin, .github, .contacto{
        width: 35px;
        height: 35px;
    }
    .h-nav{
        width: 60px;
    }
    .nav-two{
        display: none;
    }
    /** CV **/
    .content, .content-2{
    min-height: 100%;   
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-row: 100%;
    }
    .information{
        width: 90%;
        min-height: 100%;
        margin: 0px;
        display: flex;
        justify-items: center;
    }
    .profile{
        width: 150px;
        height: 170px;
        margin-bottom: 30px;
    }
    .about{
        width: 100%;
        margin-bottom: 15px;
    }
    .none{
        display: none;
    }
    .edu-first, .edu-second, .edu-third, .ex-first, .ex-second, .cer-first, .bar-content{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-bottom: 15px;
        width: 100%;
    }
    .divider{
        display: none;
    }
    .divider::after{
        display: none;
    }
    .left{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }
    .right{
        width: 100%;
        margin: 0px;
    }
    /** Portfolio **/
    .information-2{
        width: 100%;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container-1, .container-2, .container-3, .container-4, .container-5{
        width: 95%;
        height: 50%;
        margin-bottom: 5px;
    }
    .left-port{
        width: 100%;
        height: 300px;
    }
    /** Contacto **/
    textarea{
        height: 70%
    }
    .contact{
        display: grid;
        grid-template-columns: 60px 1fr;
        grid-template-rows: 100%;
        overflow: hidden;
    }
    .contac-two{
        grid-row: 1/2;
        grid-column: 2/3;
        width: 100%;
        height: 100%;
    }
    .survey{
        margin-top: 10px;
        grid-column: 2/3;
        grid-row: 1/2;
        width: 100%;
        height: 55%;
    }
    .h2-cont{
        position: absolute;
        text-align: center;
        top: 68%;
    }
    .follow{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 40px;
        width: 100%;
        height: 45%;
    }
    .twitter, .instagram, .spotify, .email{
        width: 60px;
        height: 60px; 
        margin: 10px;  
    }
} 