:root{
    /** Font-size **/
    --font-h1: 3.125rem;
    --font-h3: 1.25rem;
    --font-h4: 1.375rem;
    --font-n: 1rem;
    /** Font-color **/
    --font-c1: #10316b ;
    --font-c2: #5f6caf;
    --font-c3: #2e383f;
    --font-c4: #21243d;
    --font-c5: #ff8364;
    /** Background color **/
    --color-body: #edf7fa;
    --color-header: #f1dc7c;
    --color-progress: #f2a365;
}
@media only screen and (max-width: 767px) {
    *{
        margin: 0px;
        padding: 0px;
    }
    body{
        min-height: 100vh;
        background-color: var(--color-body);
    }
    form{
        width: 90%;
    }
    input, textarea{
        width: 100%;
    }
    label{
        display: block;
        color: var(--font-c4);
    }
    p{
        color: var(--font-c3);
    }
    progress{
        width: 100%;
        border-radius: 10px;
        border: none;
        background-color: var(--color-progress);
    }
    .h-nav{
        grid-column: 1/2;
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50px;
        min-height: 100vh;
        background-color: var(--color-header);
        position: fixed;
    }
    .sm-h1{
        font-size: var(--font-h1);
        color: var(--font-c1);
    }
    .sm-h2{
        color: var(--font-c2);
    }
    .sm-h3{
        font-size: var(--font-h3);
        color: var(--font-c3);
    }
    .sm-h4{
        font-size: var(--font-h4);
        color: var(--font-c5);
    }
    .sm-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50px;
        min-height: 100vh;
        background-color: var(--color-header);
    }
    .iconmed{
        width: 30px;
        height: 30px;
    }
    /** index section **/
    .container-main{
        min-height: 100vh;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        text-align: center;
        overflow: hidden;
    }
    .introduce{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    /** cv **/
    .content{
        min-height: 100vh;
        display: grid;
        grid-template-columns: 50px 1fr;
        grid-template-rows: 1fr;
    }
    .nav-two{
        display: none;
    }
    .information{
        grid-column: 2/3;
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
    }
    .none{
        display: none;
    }
    .profile{
        width: 150px;
        height: 170px;
        margin-bottom: 30px;
    }
    .left{
        display: flex;
        flex-direction: column-reverse;
    }
    /** Contact **/
    .contact{
        display: grid;
        grid-template-columns: 50px 1fr;
        grid-template-rows: 100%;
        overflow: hidden;
        min-height: 100vh;
    }
    .contac-two{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .survey{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .button{
        margin: 10px 70%;
    }
    .follow{
        margin-top: 30px;
    }
    .cont-iconc{
        display: flex;
        justify-content: center;
    }
    









/**
    h4{
        width: 100%;
        color: #b14646;
    }

    p{
        width: 100%;
    }
    progress{
        width: 95%;
    }
        
    .nav-two{
        display: none;
    } **/
       /** CV 
    .content, .content-2{
    min-height: 100%;   
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-row: 100%;
    }
    .about{
        width: 100%;
        margin-bottom: 15px;
    }
    .edu-first, .edu-second, .edu-third, .ex-first, .ex-second, .cer-first, .bar-content{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-bottom: 15px;
        width: 100%;
    }
    .divider{
        display: none;
    }
    .divider::after{
        display: none;
    } /**
        Portfolio 
    .information-2{
        width: 100%;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container-1, .container-2, .container-3, .container-4, .container-5{
        width: 95%;
        height: 50%;
        margin-bottom: 5px;
    }
    .left-port{
        width: 100%;
        height: 300px;
    }**/
} 