html, body{
    margin: 0px;
    padding: 0px;
    height: 100%;
}
nav{
    width: 90%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header{
    display: flex;
    justify-content: center;
    width: 70px;
    height: 100%; 
}
ul{
    padding: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
li{
    display: flex;
    justify-content: center;
}
/** Class**/
/** Section to Index **/
.container-main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    text-align: center;
    overflow: hidden;
}
.introduce{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}
.home, .cv, .portfolio, .linkedin, .github, .contacto{
    width: 40px;
    height: 40px;
}
a:hover{
    transform: scale(1.2, 1.2);
}

/** **/
.h-nav{
    grid-column: 1/2;
    grid-row: 1/2;
    position: fixed;
}
.nav-two{
    grid-column: 2/3;
    grid-row: 1/2;
    width: 19%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    margin-left: 70px;
}
.li-two{
    margin-top: 80px;
}
.li-three{
    margin-top: 130px;
}
/** Section to CV**/
.content, .content-2{
    height: 100%;
    display: grid;
    grid-template-columns: 70px 1fr 4fr;
    grid-template-rows: 100%;
}
.information{
    width: 100%;
    grid-column: 3/4;
    grid-row: 1/2;
    display: flex;
    justify-self: center;
    flex-direction: column;
}
.about, .education, .experience, .certification, .skills, .lenguages, .tools, .one-more{
    width: 95%;
    align-self: center;
}
.edu-first, .edu-second, .edu-third, .ex-first, .ex-second, .cer-first, .bar-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.right{
    margin-left: 19px;
    margin-bottom: 20px;
    width: 75%;
}
.left{
    width: 25%;
    margin-right: 10px;
    margin-bottom: 20px;
}
.divider{
    width: 0px;
    border: 2px solid;
    position: relative;
    display: flex;
    justify-content: center;
}
.divider::after{
    content:"";
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #cc2121;
    margin-top: 15px;
    position: absolute;
}
.ski-left, .ski-right{
    margin: 0px;
    width: 100%;
}
progress{
    width: 80%;
    height: 1em;
    border: none;
    border-radius: 10px;
    background-color: rgb(238, 56, 56);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
/** Section to Portfolio**/
.information-2{
    width: auto;
    grid-column: 3/4;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 280px 75% 75% 75%;
}
h2{
    grid-column: 1/4;
    grid-row: 1/2;
}
.container-1{
    background: #cccccc;
    width: auto;
    height: 99%;
    grid-column: 1/2;
    grid-row: 2/3 ;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}
.container-2{
    background: #dbaeae;
    width: auto;
    height: 99%;
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    margin-bottom: 20px;
}
.container-3{
    background: #f1f3af;
    width: auto;
    height: 99%;
    grid-column: 1/2;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}
.container-4{
    background: #d0ffaa;
    width: auto;
    height: 99%;
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}
.container-5{
    background: #a8a7ff;
    width: auto;
    height: 99%;
    grid-column: 1/2;
    grid-row: 4/5;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}
.right-port{
    width: 95%;
}
.left-port{
    width: 100%;
    height: 250px;
}
/** Section to Contact**/
form{
    width: 70%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-content: center;
    position: relative;
}
.contact{
    height: 100%;
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-rows: 100%;
}
.contac-two{
    height: 100%;
    width: 100%;
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.follow{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.survey{
    width: 50%;
    height: 100%;
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (min-width: 360px) and (max-width: 767px) {
    *{
        margin: 0px;
        padding: 0px;
    }
    body{
        min-height: 100vh;
        margin: 0px;
        padding: 0px;
        background-color: #dee1ec;
    }
    header{
        width: 60px;
        height: 100%;
        background-color: #f1dc7c;
    }
    h1{
        font-size: 40px;
        width: 100%;
        margin-bottom: 20px;
        color: #10316b;
    }
    h2{
        font-size: 33px;
        margin-bottom: 10px;
        color: #035537
    }
    h3{
        font-size: 15px;
        width: 90%;
    }
    h4{
        font-size: 22px;
        width: 100%;
        color: #b14646;
    }
    a{
        font-size: 20px;
    }
    li{
        font-size: 18px;
    }
    p{
        font-size: 18px;
        width: 100%;
    }
    progress{
        width: 95%;
    }
    /** Class 
        Home**/
    .container-main{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        text-align: center;
        overflow: hidden;
    }
    .introduce{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    /** Elements-NAV**/
    .home, .cv, .portfolio,.linkedin, .github, .contacto{
        width: 35px;
        height: 35px;
    }
    .h-nav{
        width: 60px;
    }
    .nav-two{
        display: none;
    }
    /** CV **/
    .content, .content-2{
     min-height: 100%;   
     display: grid;
     grid-template-columns: 60px 1fr;
     grid-row: 100%;
    }
    .information{
        width: 90%;
        min-height: 100%;
        margin: 0px;
        display: flex;
        justify-items: center;
    }
    .profile{
        width: 150px;
        height: 170px;
        margin-bottom: 30px;
    }
    .emphasise{
        font-size: 20px;
    }
    .about{
        width: 100%;
        margin-bottom: 15px;
    }
    .none{
        display: none;
    }
    .edu-first, .edu-second, .edu-third, .ex-first, .ex-second, .cer-first, .bar-content{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-bottom: 15px;
        width: 100%;
    }
    .divider{
        display: none;
    }
    .divider::after{
        display: none;
    }
    .left{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }
    .right{
        width: 100%;
        margin: 0px;
    }
    /** Portfolio **/
    .information-2{
        width: 100%;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container-1, .container-2, .container-3, .container-4, .container-5{
        width: 95%;
        height: 50%;
        margin-bottom: 5px;
    }
    .left-port{
        width: 100%;
        height: 300px;
    }
    /** Contacto **/
    textarea{
        height: 70%
    }
    .contact{
        display: grid;
        grid-template-columns: 60px 1fr;
        grid-template-rows: 100%;
        overflow: hidden;
    }
    .contac-two{
        grid-row: 1/2;
        grid-column: 2/3;
        width: 100%;
        height: 100%;
    }
    .survey{
        margin-top: 10px;
        grid-column: 2/3;
        grid-row: 1/2;
        width: 100%;
        height: 55%;
    }
    .h2-cont{
        position: absolute;
        text-align: center;
        top: 68%;
    }
    .follow{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 40px;
        width: 100%;
        height: 45%;
    }
    .twitter, .instagram, .spotify, .email{
        width: 60px;
        height: 60px; 
        margin: 10px;  
    }
} 