@media only screen and (min-width: 768px) {
    body{
        margin: 0px;
        padding: 0px;
        min-height: 100vh;
    }
    nav{
        width: 90%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70px; 
        min-height: 100vh;
    }
    ul{
        padding: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    li{
        display: flex;
        justify-content: center;
    }
    /** Class**/
    /** Section to Index **/
    .container-main{
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        text-align: center;
        overflow: hidden;
    }
    .introduce{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        align-items: center;
    }
    a:hover{
        transform: scale(1.2, 1.2);
    }

    /** **/
    .h-nav{
        grid-column: 1/2;
        grid-row: 1/2;
        position: fixed;
    }
    .nav-two{
        grid-column: 2/3;
        grid-row: 1/2;
        width: 19%;
        height: 100%;
        display: flex;
        justify-content: center;
        position: fixed;
        margin-left: 70px;
    }
    .li-two{
        margin-top: 80px;
    }
    .li-three{
        margin-top: 130px;
    }
    /** Section to CV**/
    .content, .content-2{
        height: 100%;
        display: grid;
        grid-template-columns: 70px 1fr 4fr;
        grid-template-rows: 100%;
    }
    .information{
        width: 100%;
        grid-column: 3/4;
        grid-row: 1/2;
        display: flex;
        justify-self: center;
        flex-direction: column;
    }
    .about, .education, .experience, .certification, .skills, .lenguages, .tools, .one-more{
        width: 95%;
        align-self: center;
    }
    .edu-first, .edu-second, .edu-third, .ex-first, .ex-second, .cer-first, .bar-content{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .right{
        margin-left: 19px;
        margin-bottom: 20px;
        width: 75%;
    }
    .left{
        width: 25%;
        margin-right: 10px;
        margin-bottom: 20px;
    }
    .divider{
        width: 0px;
        border: 2px solid;
        position: relative;
        display: flex;
        justify-content: center;
    }
    .divider::after{
        content:"";
        display: flex;
        justify-content: center;
        justify-items: center;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        background-color: #cc2121;
        margin-top: 15px;
        position: absolute;
    }
    .ski-left, .ski-right{
        margin: 0px;
        width: 100%;
    }
    progress{
        width: 80%;
        height: 1em;
        border: none;
        border-radius: 10px;
        background-color: rgb(238, 56, 56);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    }
    /** Section to Portfolio**/
    .information-2{
        width: auto;
        grid-column: 3/4;
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 280px 75% 75% 75%;
    }
    h2{
        grid-column: 1/4;
        grid-row: 1/2;
    }
    .container-1{
        background: #cccccc;
        width: auto;
        height: 99%;
        grid-column: 1/2;
        grid-row: 2/3 ;
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: auto;
    }
    .container-2{
        background: #dbaeae;
        width: auto;
        height: 99%;
        grid-column: 2/3;
        grid-row: 2/3;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: auto;
        margin-bottom: 20px;
    }
    .container-3{
        background: #f1f3af;
        width: auto;
        height: 99%;
        grid-column: 1/2;
        grid-row: 3/4;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: auto;
    }
    .container-4{
        background: #d0ffaa;
        width: auto;
        height: 99%;
        grid-column: 2/3;
        grid-row: 3/4;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: auto;
    }
    .container-5{
        background: #a8a7ff;
        width: auto;
        height: 99%;
        grid-column: 1/2;
        grid-row: 4/5;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: auto;
    }
    .right-port{
        width: 95%;
    }
    .left-port{
        width: 100%;
        height: 250px;
    }
    /** Section to Contact**/
    form{
        width: 70%;
        margin: 0px;
        display: flex;
        flex-direction: column;
        align-content: center;
        position: relative;
    }
    .contact{
        min-height: 100vh;
        display: grid;
        grid-template-columns: 70px 1fr;
        grid-template-rows: 100%;
    }
    .contac-two{
        height: 100%;
        width: 100%;
        grid-column: 2/3;
        grid-row: 1/2;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .follow{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .survey{
        width: 50%;
        height: 100%;
        grid-column: 2/3;
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cont-iconc{
        display: flex;
        flex-direction: column;
    }
}