:root{
    /** Fonts **/
    --font-family-prim: 'Anton', sans-serif;
    --font-family-sec: 'Cutive Mono', monospace;
    --font-family-ter: 'Roboto', sans-serif;
    /** Size **/
    --font-size-prim: 4.375rem;
    --font-size-sec: 2.5rem;
    --font-size-ter: 1.562rem;
    --font-size-quater: 1.312rem;
    --font-size-fif: 1rem;
}
body{
    background-color: #dae1e7;
    line-height: 1.5;
    /** Color para el background del Nav es #79AAD6 **/
}
header{
    background-color: #6bc5d2;
}
h1{
    font-family: var(--font-family-prim); 
    font-size: var(--font-size-prim);
    letter-spacing: 5px;
    text-align: center;
    color: #0f4c81;
}
h2{
    font-family: var(--font-family-prim);
    font-size: var(--font-size-sec);
    letter-spacing: 3px;
    text-align: center;
    color: #ee7e42;
}
h3{
    font-family: var(--font-family-sec);
    font-size: var(--font-size-ter);
    letter-spacing: 2px;
    text-align: center;
    opacity: 65%;
}
h4{
    font-family: var(--font-family-ter);
    font-size: var(--font-size-quater);

}
a{
    font-family: var(--font-family-prim);
    font-size: var(--font-size-quater);
    color: #312727;
    text-decoration: none;
    letter-spacing: 0px;
}
a:hover{
    color: brown;
}
p{
    font-family: var(--font-family-ter);
    font-size: var(--font-size-fif);
}
ul{
    list-style-type: none;
}
li{
    list-style: none;
    margin-top: 40px;
    font-family: var(--font-family-ter);
    font-size: var(--font-size-fif);
}
label{
    font-family: var(--font-family-ter);
    font-size: var(--font-size-quater);
}
input{
    border: none;
    font-size: var(--font-size-fif);
    color: #f5973d;
    font-weight: bold;
    margin-top: 2px;
}
textarea{
    font-size: var(--font-size-fif);
    color: #da4c4c;
    border: none;
}
/** Class **/
.button{
    width: 30%;
    height: 8%;
    background-color: #6a5d4d;
    border: 1px solid rgb(0, 0, 0);
}
.h2-left{
    text-align: left;
}
.emphasise{
    font-family: var(--font-family-ter);
    font-weight: bold;
    font-size: var(--font-size-fif);
}
.introduce{
    align-content: center;
}
.img-cont{
    width: 100%;
    height: 100%;
}
.li-port{
    margin-top: 10px;
    margin-left: 5px;
    justify-content: flex-start;
}
.nav-two{
    background-color: #6bc5d2
}
.profile{
    width: 230px;
    height: 250px;
    border-radius: 50%;
    align-self: center;
    margin-top: 10px;
}
.twitter, .instagram, .spotify, .email{
    width: 90px;
    height: 90px;   
}
.WID{
    width: 70%;
}
/** Scrollbar Portfolio **/
.container-1::-webkit-scrollbar{
    width: 7px;
    height: 100%;
    background-color: rgb(247, 6, 46);
    border-radius: 10px;
}
.container-2::-webkit-scrollbar{
    width: 7px;
    height: 100%;
    background-color: rgb(247, 6, 46);
    border-radius: 10px;
}
.container-3::-webkit-scrollbar{
    width: 7px;
    height: 100%;
    background-color: rgb(247, 6, 46);
    border-radius: 10px;
}
.container-4::-webkit-scrollbar{
    width: 7px;
    height: 100%;
    background-color: rgb(247, 6, 46);
    border-radius: 10px;
}
.container-5::-webkit-scrollbar{
    width: 7px;
    height: 100%;
    background-color: rgb(247, 6, 46);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    height: 60%;
    background-color: #ebdf72;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgb(0, 252, 210);
}