@font-face{
    font-family: 'Anton', 'Cutive Mono', 'Roboto' ;
    src: url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
    src: url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
}
body{
    background-color: #9EC3E4;
    /** Color para el background del Nav es #79AAD6 **/
}
header{
    background-color: #79AAD6;
}
h1{
    font-family: 'Anton';
    font-size: 70px;
    letter-spacing: 5px;
    text-align: center;
}
h2{
    font-family: 'Anton';
    font-size: 40px;
    letter-spacing: 3px;
    text-align: center;
}
h3{
    font-family: 'Cutive Mono';
    font-size: 25px;
    letter-spacing: 2px;
    text-align: center;
    opacity: 65%;
}
h4{
    font-family: 'Roboto';
    font-size: 1.3em;

}
a{
    font-family: 'Anton';
    font-size: 23px;
    color: black;
    text-decoration: none;
    letter-spacing: 0px;
}
a:hover{
    color: brown;
}
p{
    font-family: 'Roboto';
    font-size: 16px;
}
ul{
    list-style-type: none;
}
li{
    list-style: none;
    margin-top: 40px;
    font-family: 'Roboto';
    font-size: 16px;
}
label{
    font-family: 'Roboto';
    font-size: 20px;
}
input{
    border: none;
    font-size: 1em;
    color: #f5973d;
    font-weight: bold;
    margin-top: 2px;
}
textarea{
    font-size: 1em;
    color: #da4c4c;
    border: none;
}
/** Class **/
.button{
    width: 30%;
    height: 8%;
    background-color: #6a5d4d;
    border: 1px solid rgb(0, 0, 0);
}
.h2-left{
    text-align: left;
}
.emphasise{
    font-family: 'roboto';
    font-weight: bold;
    font-size: 16px;
}
.introduce{
    align-content: center;
}
.img-cont{
    width: 100%;
    height: 100%;
}
.li-port{
    margin-top: 10px;
    margin-left: 5px;
    justify-content: flex-start;
}
.nav-two{
    background-color: #79AAD6
}
.profile{
    width: 230px;
    height: 250px;
    border-radius: 50%;
    align-self: center;
    margin-top: 10px;
}
.twitter, .instagram, .spotify, .email{
    width: 90px;
    height: 90px;   
}
/** Scrollbar Portfolio **/
.container-1::-webkit-scrollbar{
    width: 7px;
    height: 100%;
    background-color: rgb(247, 6, 46);
    border-radius: 10px;
}
.container-2::-webkit-scrollbar{
    width: 7px;
    height: 100%;
    background-color: rgb(247, 6, 46);
    border-radius: 10px;
}
.container-3::-webkit-scrollbar{
    width: 7px;
    height: 100%;
    background-color: rgb(247, 6, 46);
    border-radius: 10px;
}
.container-4::-webkit-scrollbar{
    width: 7px;
    height: 100%;
    background-color: rgb(247, 6, 46);
    border-radius: 10px;
}
.container-5::-webkit-scrollbar{
    width: 7px;
    height: 100%;
    background-color: rgb(247, 6, 46);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    height: 60%;
    background-color: #ebdf72;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgb(0, 252, 210);
}